:root {
    --azulEscuro: #46697C;
    --azulClaro: #94A7AE;
    --branco: yellow;
    --azulMuitoEscuro: #0F2028;
    --preto: #1B2124;
    --amarelo: #D7C99C;
    --cinzaEscuro: #0E1A1F;
    --cinzaClaro: #1f2029;
}


.botao-cdt {
    margin-top: -3%;
    background-color: var(--preto);
    border-radius: 27px;
}

.cadastro {
    color: var(--preto) !important;
}

.navbar-li {
    color: #ffeba7;
    font-size: 107%;
    font-family: 'Archivo Black';
    font-weight: bold;
}

.barra-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--cinzaEscuro);
    font-family: "Caesar Dressing", system-ui;
    height: 100%;
    max-height: 90px;
}

img.imgLogo {
    width: 25%;
    height: 25%;
    color: white;
    border-radius: 50%;
    margin-right: 83%;
}

.navbar-opcoes {
    width: 100%;
    color: var(--preto);
    display: flex;
    margin-right: 2%;
}


.navbar-opcoes>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
}

li {
    padding: 0 2%;
    font-size: 1.0rem;


}