/* Navegacao.module.css */
.CtnNavbar {
  background-color: #343a40; /* Um tom de cinza escuro */
  padding: 10px; /* Adiciona algum padding */
}

.logoAtividade {
  display: flex;
  align-items: center;
  color: #ffeba7;
  text-decoration: none;
  font-size: 16px; /* Define o tamanho da fonte para todos os textos na barra de navegação */
  font-family: "Archivo Black", sans-serif;

}

.logoImage {
  width: 70px; /* Aumenta o tamanho da imagem */
  height: 70px; /* Aumenta o tamanho da imagem */
  border-radius: 50%; /* Torna a imagem circular */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item,
.navbar-brand {
  color: #ffeba7 !important; /* Cor #ffeba7 para os links de navegação */
  font-size: 16px; /* Define o tamanho da fonte para os links e itens do dropdown */

}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover,
.navbar-brand:hover {
  color: #ffeba7 !important; /* Mantém a cor ao passar o mouse */
}

