:root {
    /* Definição de variáveis de cor */
    --amareloClaro: #ffeba7; /* Amarelo claro, usado para elementos destacados e botões */
    --cinzaEscuro: #212529; /* Cinza escuro, provavelmente usado para fundos ou texto */
    --cinzaAzulado: #343A40; /* Cinza azulado, utilizado em elementos de interface como botões ou fundos */
    --cinzaAvermelhado: #333; /* Cinza avermelhado, possivelmente usado para textos ou backgrounds */
    --branco: #FFFFFF; /* Cor branca, comumente utilizada para texto ou fundos claros */
    --cinzaClaro: #ccc; /* Cinza claro, pode ser usado para bordas ou textos desativados */
    --amareloEscuro: #b39f72; /* Amarelo escuro, usado para elementos que precisam de destaque ou contraste */
    --preto: #000000; /* Cor preta, geralmente usada para texto ou elementos de destaque */
  }

/* Estilo para a imagem de fundo */
.div-carrossel {
    width: 75% !important;
    /* Define a largura da imagem como 80% do elemento pai */
    margin: 0% auto;
    /* Aliha o Carousel no centro horizontalmente*/
    border: 5px solid var(--cinzaEscuro);
    /* Define uma borda de 5px com estilo sólido, utilizando a cor cinza escuro definida na variável global (--cinzaEscuro) */
    margin-bottom: 5%;
    /* Define um espaçamento de 5% abaixo do elemento, criando uma margem inferior proporcional ao tamanho da tela */
}

.th {
    font-family: "Archivo Black", sans-serif;
    /* Fonte */
    font-weight: bold;
    /* Formato da fonte */
}