/* Define variáveis de cor para reutilização */
:root {
    --amareloClaro: #ffeba7;
    --cinzaEscuro: #212529;
    --cinzaAzulado: #343A40;
    --cinzaAvermelhado: #333;
    --branco: #FFFFFF;
    --cinzaClaro: #ccc;
    --amareloEscuro: #b39f72;
    --preto: #000000;
}

/* Estilos para um título genérico */
.titulo {
    color: var(--amareloClaro);
    /* Mantém a cor */
    font-family: "Archivo Black", sans-serif;
    /* Mantém a fonte */
    font-weight: 400;
    /* Mantém o peso da fonte */
    font-style: normal;
    /* Mantém o estilo da fonte */
    display: flex;
    /* Altera o display para inline para que fiquem lado a lado */
    margin-right: 10px;
    /* Adiciona um espaçamento entre as palavras */
    margin-bottom: -6%;
}

/* Estilos para o conteúdo dentro de uma div */
.div-conteudo {
    margin-left: 10%;
    /* Define uma margem à esquerda */
    width: 100%;
    /* Define a largura */
}

/* Estilos para a classe 'home' */
.home {
    margin-top: 5%;
    /* Define uma margem superior */
}