:root {
    /* Definição de variáveis de cor */
    --amareloClaro: #ffeba7; /* Amarelo claro, usado para elementos destacados e botões */
    --cinzaEscuro: #212529; /* Cinza escuro, provavelmente usado para fundos ou texto */
    --cinzaAzulado: #343A40; /* Cinza azulado, utilizado em elementos de interface como botões ou fundos */
    --cinzaAvermelhado: #333; /* Cinza avermelhado, possivelmente usado para textos ou backgrounds */
    --branco: #FFFFFF; /* Cor branca, comumente utilizada para texto ou fundos claros */
    --cinzaClaro: #ccc; /* Cinza claro, pode ser usado para bordas ou textos desativados */
    --amareloEscuro: #b39f72; /* Amarelo escuro, usado para elementos que precisam de destaque ou contraste */
    --preto: #000000; /* Cor preta, geralmente usada para texto ou elementos de destaque */
  }
  
/* Estilos para um título genérico */
.titulo {
    color: var(--amareloClaro);
    /* Mantém a cor */
    font-family: "Archivo Black", sans-serif;
    /* Mantém a fonte */
    font-weight: 400;
    /* Mantém o peso da fonte */
    font-style: normal;
    /* Mantém o estilo da fonte */
    display: flex;
    /* Altera o display para inline para que fiquem lado a lado */
    margin-right: 10px;
    /* Adiciona um espaçamento entre as palavras */
    margin-bottom: -17%;
        /* Adiciona um espaçamento entre as palavras */
        margin-top: -2%;
}

/* Estilos para o conteúdo dentro de uma div */
.div-conteudo {
    margin-left: 10%;
    /* Define uma margem à esquerda */
    width: 100%;
    /* Define a largura */
}

/* Estilos para a classe 'home' */
.home {
    margin-top: 5%;
    /* Define uma margem superior */
}