.titulo {
    text-align: center;
    color: #ffeba7;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2% 0;
    }
    
    .tabelaHeader {
      background-color: #333 !important;
      color: #fff !important;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #fff; /* Adiciona borda */
    }
    
    .tabelaCorpo {
      color: #333;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #ccc; /* Adiciona borda */
    }
    
    .cnt-tb {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      max-width: calc(100% - 40px);
      overflow-x: auto;
    }
    
    .table th,
    .table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc; /* Adiciona borda */
    }
    
    .tabelaHeader {
      background-color: #007bff;
      color: #fff;
    }
    
    .tabelaCorpo {
      background-color: #f8f9fa;
    }
    
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .pagination button {
      padding: 8px 16px;
      margin: 0 5px;
      border: 1px solid #007bff;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .pagination button:hover {
      background-color: #0056b3;
    }
    
    .pagination input {
      width: 60px;
      padding: 8px;
      margin: 0 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    @media (max-width: 768px) {
      .table th,
      .table td {
          font-size: 14px;
      }
    
      .pagination button {
          padding: 6px 12px;
      }
    
      .pagination input {
          width: 50px;
          padding: 6px;
      }
    }
    