:root {
    /* Definição de variáveis de cor */
    --amareloClaro: #ffeba7; /* Amarelo claro, usado para elementos destacados e botões */
    --cinzaEscuro: #212529; /* Cinza escuro, provavelmente usado para fundos ou texto */
    --cinzaAzulado: #343A40; /* Cinza azulado, utilizado em elementos de interface como botões ou fundos */
    --cinzaAvermelhado: #333; /* Cinza avermelhado, possivelmente usado para textos ou backgrounds */
    --branco: #FFFFFF; /* Cor branca, comumente utilizada para texto ou fundos claros */
    --cinzaClaro: #ccc; /* Cinza claro, pode ser usado para bordas ou textos desativados */
    --amareloEscuro: #b39f72; /* Amarelo escuro, usado para elementos que precisam de destaque ou contraste */
    --preto: #000000; /* Cor preta, geralmente usada para texto ou elementos de destaque */
  }

/* Estilos para o rodapé da página */
footer {
    display: flex;
    /* Usa o layout flexível para organizar o conteúdo do rodapé */
    justify-content: space-between;
    /* Alinha a div-left à esquerda e a div-right à direita */
    font-family: sans-serif;
    /* Define a fonte como "Archivo Black" */
    color: var(--amareloClaro);
    /* Define a cor do texto como amarelo claro */
    background-color: var(--cinzaEscuro);
    /* Define a cor de fundo do rodapé como cinza escuro */
    width: 98.7vw;
    /* Define a largura do rodapé como 98.7% da largura da viewport */
    height: auto;
    /* Altura ajustável automaticamente */
    border: 5px solid var(--cinzaEscuro);
    /* Define uma borda de 5px com a mesma cor do fundo, criando uma borda sólida */
    text-align: justify;
    /* Justifica o texto no rodapé para garantir alinhamento das margens esquerda e direita */
}

/* Remove as bolinhas das listas não ordenadas (ul) dentro do rodapé */
footer ul {
    margin-top: 3%;
    /* Define uma margem superior de 3% */
    list-style-type: none;
    /* Remove as bolinhas da lista */
}

.div-right {
    margin-top: 3.4%;
    /* Define um espaço acima da div-right */
    margin-right: 2%;
    /* Define um espaço ao lado direito da div-right */
    text-align: end !important;
    /* Alinha o texto à direita, garantindo que essa configuração tenha prioridade */
}

.div-bottomR {
    margin-top: 0.2%;
    /* Define um espaço acima da div-right */
    margin-right: 2%;
    /* Define um espaço ao lado direito da div-right */
}

/* Estilo para a div-bottom */
.div-bottomL {
    margin-left: 3%;
    /* Define um espaçamento à esquerda da div-bottom */
    width: 9%;
    /* Define a largura total da div-bottom */
    background-color: var(--cinzaEscuro);
    /* Define a cor de fundo da div-bottom como cinza escuro */
}

@media (max-width: 768px) {
    .div-bottomR {
        display: none;
    }
}