@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.imgFundo {
    height: 80%;
    width: 80%;
}

:root {
    --azulEscuro: #46697C;
    --azulClaro: #94A7AE;
    --branco: #FFFFFF;
    --azulMuitoEscuro: #102028;
}

body {
    background-color: var(--azulClaro);
}

.div-img {
    justify-content: center;
    align-items: center;
}

.imagem {
    margin-top: 10%;
    margin-right: -18%;
    height: 50%;

}

.titulo {
    text-align: center;
    color: var(--azulMuitoEscuro);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.botao {
    color: var(--azulClaro);
    background-color: var(--azulEscuro);
    height: 50%;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}

.div-botao {
    height: 100px;
}

.paragrafo {
    width: 95%;
    font-size: 20px;
    text-align: justify;
    margin-left: 3%;
    height: 80%;
    color: var(--azulMuitoEscuro);
    font-family: Arial, Helvetica, sans-serif;
}

.div-conteudo {
    margin-left: 10%;
    width: 80%;
}

.div-mae {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

body {
    background-color: var(--azulClaro);
}