@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --azulEscuro: #46697C;
    --azulClaro: #94A7AE;
    --branco: #FFFFFF;
    --azulMuitoEscuro: #102028;
}



/*
.imagem {
    margin-top: 10%;
    margin-right: -18%;
    height: 50%;

}
*/
.div-mae {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

body {
    background-color: var(--azulClaro)!important;
}