/* Estilos para o título */
.titulo {
  text-align: center; /* Alinhamento centralizado */
  color: #ffeba7; /* Cor do texto */
  font-family: "Archivo Black", sans-serif; /* Fonte */
  font-weight: 400; /* Peso da fonte */
  font-style: normal; /* Estilo da fonte */
  margin: 2% 0; /* Margem superior e inferior de 2% */
}

/* Estilos para o cabeçalho da tabela */
.tabelaHeader {
  background-color: #333 !important; /* Cor de fundo do cabeçalho */
  color: #fff !important; /* Cor do texto do cabeçalho */
  text-align: center; /* Alinhamento centralizado */
  vertical-align: middle; /* Alinhamento vertical ao centro */
  border: 1px solid #fff; /* Borda */
  position: sticky; /* Cabeçalho fixo */
  top: 0; /* Posiciona no topo */
  z-index: 1; /* Z-index para ficar acima das linhas do corpo */
}

/* Estilos para o corpo da tabela */
.tabelaCorpo {
  color: #333; /* Cor do texto */
  text-align: center; /* Alinhamento centralizado */
  vertical-align: middle; /* Alinhamento vertical ao centro */
  border: 1px solid #ccc; /* Borda */
  background-color: #f8f9fa; /* Cor de fundo */
}

/* Estilos para o contêiner da tabela */
.cntTb {
  margin-top: 20px; /* Margem superior */
  margin-bottom: 20px; /* Margem inferior */
  overflow-x: auto; /* Adiciona barra de rolagem horizontal */
  max-height: 70vh; /* Altura máxima */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

/* Estilos gerais para a tabela */
.table {
  width: 100%; /* Largura total */
  border-collapse: collapse; /* Colapso das bordas da tabela */
  margin-bottom: 20px; /* Margem inferior */
  margin-left: 20px; /* Margem esquerda */
  margin-right: 20px; /* Margem direita */
  max-width: calc(100% - 40px); /* Largura máxima */
}

/* Estilos para as células da tabela */
.table th,
.table td {
  padding: 10px; /* Preenchimento */
  text-align: center; /* Alinhamento centralizado */
  border: 1px solid #ccc; /* Borda */
}

/* Estilos específicos para o cabeçalho da tabela */
.tabelaHeader {
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
}

/* Estilos específicos para o corpo da tabela */
.tabelaCorpo {
  background-color: #f8f9fa; /* Cor de fundo */
}

/* Estilos para a paginação */
.pagination {
  display: flex; /* Exibe como flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin-top: 20px; /* Margem superior */
}

/* Estilos para os botões da paginação */
.pagination button {
  padding: 8px 16px; /* Preenchimento */
  margin: 0 5px; /* Margem */
  border: 1px solid #007bff; /* Borda */
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  cursor: pointer; /* Cursor */
  border-radius: 4px; /* Raio da borda */
}

/* Estilos de hover para os botões da paginação */
.pagination button:hover {
  background-color: #0056b3; /* Cor de fundo ao pairar */
}

/* Estilos para o input da paginação */
.pagination input {
  width: 60px; /* Largura */
  padding: 8px; /* Preenchimento */
  margin: 0 5px; /* Margem */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Raio da borda */
}

/* Estilos responsivos para a tabela em dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 14px; /* Tamanho da fonte reduzido */
  }

  .pagination button {
    padding: 6px 12px; /* Preenchimento reduzido */
  }

  .pagination input {
    width: 50px; /* Largura reduzida */
    padding: 6px; /* Preenchimento reduzido */
  }
}
