/* Estilo para a imagem de fundo */
.imgFundo {
    height: 80%;
    /* Define a altura da imagem como 80% do elemento pai */
    width: 80%;
    /* Define a largura da imagem como 80% do elemento pai */
    box-shadow: 10px 7px 5px rgb(34, 41, 48);
    /* Adiciona uma sombra ao redor da imagem com deslocamento e desfoque */
}

/* Estilo para a div que contém a imagem */
.div-img {
    display: flex;
    /* Usa o layout flexível */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    margin-top: 10%;
    /* Adiciona margem superior de 10% do elemento pai */
}