/* Define variáveis de cor para reutilização */
:root {
  --amareloClaro: #ffeba7;
  --cinzaEscuro: #212529;
  --cinzaAzulado: #343A40;
  --cinzaAvermelhado: #333;
  --branco: #FFFFFF;
  --cinzaClaro: #ccc;
  --amareloEscuro: #b39f72;
  --preto: #000000;
}

/* Estilos para uma seção genérica */
.section {
  width: 100%;
  /* Largura total */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo */
  padding: 50px 0;
  /* Preenchimento superior e inferior */
}

/* Estilos para um contêiner genérico */
.container {
  max-width: 1200px;
  /* Largura máxima */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  padding: 0 15px;
  /* Preenchimento lateral */
  display: flex;
  justify-content: center;
}

/* Estilos para um estilo de formulário genérico */
.formStyle {
  width: 100%;
  /* Largura total */
  padding: 15px;
  /* Preenchimento */
  border: 1px solid var(--cinzaEscuro);
  /* Borda */
  border-radius: 15px;
  /* Raio da borda */
  background-color: var(--amareloClaro);
  /* Cor de fundo */
  font-size: 18px;
  color: var(--preto);
}

label {
  color: #000000!important;
}


form {
  width: 70%;
}

::placeholder {
  color: var(--preto);
}

/* Estilos para um botão genérico */
.btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  width: 35%;
  /* Exibe como bloco */
  padding: 15px 25px;
  /* Preenchimento */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo */
  font-size: 18px;
  color: var(--amareloClaro);
  border: 3px solid var(--amareloClaro);
  /* Sem borda */
  border-radius: 27px;
  /* Raio da borda */
  cursor: pointer;
  /* Cursor */
  transition: background-color 0.3s ease;
  /* Transição suave */
}

/* Estilos para botão desalinhado*/
.btnListagem {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  width: 35%;
  /* Exibe como bloco */
  padding: 15px 25px;
  /* Preenchimento */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo */
  font-size: 18px;
  color: var(--amareloClaro);
  border: 3px solid var(--amareloClaro);
  /* Sem borda */
  border-radius: 27px;
  /* Raio da borda */
  cursor: pointer;
  /* Cursor */
  transition: background-color 0.3s ease;
  /* Transição suave */
}

/* Controla a posição e tamanho de determinados botões*/
@media (max-width: 768px) {
  .btn {
    width: 60%;
  }

  .btnListagem {
    width: 60%;
    margin: 5%;
  }
}

/* Estilos de hover para um botão genérico */
.btn:hover {
  background-color: var(--amareloEscuro);
  /* Cor de fundo ao pairar */
}

/* Estilos para um título genérico */
.h1 {
  color: var(--branco);
  /* Cor do texto */
  text-align: center;
  /* Alinhamento do texto */
  font-family: "Archivo Black", sans-serif;
  /* Fonte */
  font-weight: 400;
  /* Peso da fonte */
  font-style: normal;
  /* Estilo da fonte */
  margin-bottom: 2%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#flutuante {
  font-size: 12px;
  background-color: yellow !important;
}

.form-floating:focus {
  background-color: yellow !important;
}

/* TESTE */
.form-floating.input {
  background-color: #ffeb99 !important; /* Cor de fundo amarelo claro */
}

.form-floating.input input {
  background-color: #ffeb99 !important; /* Cor de fundo do input */
  color: black; /* Cor do texto */
}

.form-floating.input label {
  background-color: #ffeb99 !important; /* Cor de fundo do label */
  color: black; /* Cor do texto no label */
  padding-left: 5px; /* Um pequeno espaçamento para o label */
}

.form-floating.input .form-control {
  background-color: #ffeb99 !important; /* Fundo do input */
  color: black !important; /* Cor do texto no input */
  border-radius: 15px !important; /* Ajuste de borda arredondada, se necessário */
  border: 2px solid #4a90e2; /* Cor da borda */
}
