:root {
  /* Definição de variáveis de cor */
  --amareloClaro: #ffeba7; /* Amarelo claro, usado para elementos destacados e botões */
  --cinzaEscuro: #212529; /* Cinza escuro, provavelmente usado para fundos ou texto */
  --cinzaAzulado: #343A40; /* Cinza azulado, utilizado em elementos de interface como botões ou fundos */
  --cinzaAvermelhado: #333; /* Cinza avermelhado, possivelmente usado para textos ou backgrounds */
  --branco: #FFFFFF; /* Cor branca, comumente utilizada para texto ou fundos claros */
  --cinzaClaro: #ccc; /* Cinza claro, pode ser usado para bordas ou textos desativados */
  --amareloEscuro: #b39f72; /* Amarelo escuro, usado para elementos que precisam de destaque ou contraste */
  --preto: #000000; /* Cor preta, geralmente usada para texto ou elementos de destaque */
}

/* Estilos gerais para o botão */
.btn {
  display: inline-block;
  /* Exibe como um elemento em linha, mas com comportamento de bloco */
  font-family: system-ui, sans-serif;
  /* Define a família da fonte para o botão */
  width: 15%;
  /* Largura de 15% */
  padding: 15px 15px;
  /* Preenchimento interno do botão */
  background-color: var(--amareloClaro);
  /* Cor de fundo cinza azulado */
  font-size: 18px;
  /* Tamanho da fonte de 18px */
  color: var(--cinzaAzulado) !important;
  /* Cor do texto */
  border: 1px solid var(--amareloClaro);
  /* Borda amarela clara */
  border-radius: 10px;
  /* Borda arredondada */
  cursor: pointer;
  /* Define o cursor como pointer ao passar sobre o botão */
  transition: background-color 0.3s ease;
  /* Transição suave na mudança de cor de fundo */
  font-weight: bold;
}

/* Estilo do título da página */
.titulo {
  text-align: center;
  /* Centraliza o texto */
  color: var(--amareloClaro);
  /* Define a cor do texto como amarelo claro */
  font-family: "Archivo Black", sans-serif;
  /* Define a fonte do título */
  font-weight: 400;
  /* Peso da fonte normal */
  font-style: normal;
  /* Estilo da fonte normal */
  margin: 2% 0;
  /* Margem superior e inferior de 2% */
}

/* Estilos para o corpo da tabela */
.tabelaCorpo {
  color: var(--preto);
  /* Cor do texto como preto */
  text-align: center;
  /* Centraliza o texto */
  vertical-align: middle;
  /* Alinha o conteúdo verticalmente no centro */
  border: 1px solid var(--branco);
  /* Borda branca ao redor das células */
  background-color: var(--branco);
  /* Cor de fundo das células como branco */
}

/* Estilos para o contêiner da tabela */
.cntTb {
  margin-top: 20px;
  /* Margem superior de 20px */
  margin-bottom: 20px;
  /* Margem inferior de 20px */
  margin-left: 6%;
  /* Margem inferior de 20px */

  overflow-x: auto;
  /* Habilita rolagem horizontal, se necessário */
  overflow-y: auto;
  /* Habilita rolagem vertical, se necessário */
  max-height: calc(100vh - 140px);
  /* Altura máxima limitada pela altura da janela menos 140px */
  width: 90%;
  /* Largura total da tabela */
}

/* Estilos gerais para a tabela */
.table {
  width: 100%;
  /* Largura da tabela como 100% */
  border-collapse: collapse;
  /* Remove os espaços entre as células */
  margin-bottom: 20px;
  /* Margem inferior de 20px */
}

/* Estilos para as células da tabela */
.table th,
.table td {
  padding: 20px;
  /* Preenchimento interno de 20px */
  text-align: center;
  /* Centraliza o texto nas células */
  border: 1px solid var(--cinzaClaro);
  /* Borda cinza clara ao redor das células */
  white-space: nowrap;
  /* Evita quebra de linha no texto das células */
}

/* Estilos para a paginação */
.pagination {
  display: flex;
  /* Exibe os elementos em um layout flexível */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  margin-top: 20px;
  /* Margem superior de 20px */
}

/* Estilo de texto genérico */
span {
  color: var(--amareloClaro);
  /* Cor do texto como amarelo claro */
  padding: 0 10px;
  /* Preenchimento de 10px nos lados */
}

/* Estilo das células da tabela */
td {
  color: var(--amareloClaro) !important;
  /* Cor do texto como amarelo claro com prioridade */
  font-size: 1.2rem !important;
  /* Tamanho da fonte de 1.2rem com prioridade */
  background-color: var(--cinzaAzulado) !important;
  /* Cor de fundo como cinza azulado com prioridade */
  margin: 0;
  /* Remove as margens */
  border: 3px solid var(--amareloClaro) !important;
  /* Borda amarela clara com prioridade */
}

/* Estilos para o cabeçalho da tabela */
.tabelaHeader,
th {
  background-color: #c2b382 !important;
  /* Cor de fundo do cabeçalho */
  color: var(--preto) !important;
  /* Cor do texto no cabeçalho */
  text-align: center;
  /* Centraliza o texto no cabeçalho */
  vertical-align: middle;
  /* Alinha o conteúdo verticalmente */
  position: sticky;
  /* Mantém o cabeçalho fixo durante a rolagem */
  top: 0;
  /* Fixa o cabeçalho no topo da tabela */
  margin: 0;
  /* Remove as margens */
  z-index: 1;
  /* Define uma prioridade de camada para o cabeçalho */
  border: 3px solid var(--preto) !important;
  /* Define a borda preta com prioridade */
}

/* Estilo do cabeçalho da tabela e da tabela geral */
.table thead,
table {
  color: var(--amareloClaro) !important;
  /* Cor do texto no cabeçalho e tabela como amarelo claro */
  font-size: 1.2rem !important;
  /* Tamanho da fonte de 1.2rem com prioridade */
}

/* Estilos para o campo de busca */
.searchContainer {
  display: flex;
  /* Exibe o contêiner de busca em um layout flexível */
  justify-content: center;
  /* Centraliza o campo de busca horizontalmente */
  margin: 20px 0;
  /* Margem superior e inferior de 20px */
}

/* Estilos para o input de busca */
.searchInput {
  border: 1px solid #ccc;
  /* Borda cinza */
  border-radius: 4px;
  /* Borda arredondada */
  padding: 6px 12px;
  /* Preenchimento interno do campo */
  font-size: 16px;
  /* Tamanho da fonte de 16px */
  width: 15%;
  /* Largura de 15% */
  background-color: var(--branco);
  /* Cor de fundo branca */
  color: var(--preto);
  /* Cor do texto preta */
}

/* Estilos do placeholder */
.searchInput::placeholder {
  color: var(--preto);
  /* Cor do placeholder */
  font-weight: bold;
}

/* Ícone de busca */
.searchIcon {
  cursor: pointer;
  /* Ícone de busca com cursor de pointer */
  color: #333;
  /* Cor do ícone */
  position: absolute;
  /* Define posição absoluta */
  right: 10px;
  /* Distância à direita de 10px */
  top: 50%;
  /* Posiciona verticalmente no meio */
  transform: translateY(-50%);
  /* Ajuste para centralização vertical */
}

/* Media queries para telas menores */
@media (max-width: 768px) {

  /* Ajustes para a tabela */
  .table th,
  .table td {
    font-size: 14px;
    /* Tamanho da fonte reduzido para 14px */
  }

  /* Ajustes para a paginação */
  .pagination button {
    padding: 6px 12px;
    /* Preenchimento menor nos botões de paginação */
  
  }

  .pagination input {
    width: 60px;
    /* Largura do campo de input para paginação */
    padding: 6px;
    /* Preenchimento do campo de input */
  }
}

/* Estilos para o botão de cadastro */
.btnCadastro {
  font-family: system-ui, sans-serif;
  /* Define a fonte */
  display: inline-block;
  width: 35%;
  /* Define a largura do botão */
  padding: 15px 25px;
  /* Preenchimento interno do botão */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo cinza azulado */
  font-size: 18px;
  /* Tamanho da fonte */
  color: var(--amareloClaro);
  /* Cor do texto */
  border: 3px solid var(--amareloClaro);
  /* Borda amarela clara */
  border-radius: 27px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Define o cursor como pointer */
  transition: background-color 0.3s ease;
  /* Transição suave de cor de fundo */
}

/* Estilos responsivos para o botão e campo de busca */