:root {
  --amareloClaro: #ffeba7;
  --cinzaEscuro: #212529;
  --cinzaAzulado: #343A40;
  --cinzaAvermelhado: #333;
  --branco: #FFFFFF;
  --cinzaClaro: #ccc;
  --amareloEscuro: #b39f72;
  --preto: #000000;
}

.btn {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 15%;
  /* Exibe como bloco */
  padding: 15px 15px;
  /* Preenchimento */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo */
  font-size: 18px;
  color: var(--amareloClaro);
  border: 3px solid var(--amareloClaro);
  /* Sem borda */
  border-radius: 27px;
  /* Raio da borda */
  cursor: pointer;
  /* Cursor */
  transition: background-color 0.3s ease;
  /* Transição suave */
}

.titulo {
  text-align: center;  /* Centraliza o texto do título */
  color: var(--amareloClaro);  /* Define a cor do texto como amarelo claro */
  font-family: "Archivo Black", sans-serif;  /* Define a fonte do título */
  font-weight: 400;  /* Define o peso da fonte como normal */
  font-style: normal;  /* Define o estilo da fonte como normal */
  margin: 2% 0;  /* Define a margem superior e inferior do título como 2% */
}

.tabelaCorpo {
  color: var(--preto);  /* Define a cor do texto como preto */
  text-align: center;  /* Centraliza o texto nas células */
  vertical-align: middle;  /* Alinha o conteúdo verticalmente ao meio */
  border: 1px solid var(--branco);  /* Define uma borda branca ao redor das células */
  background-color: var(--branco);  /* Define a cor de fundo das células como branco */
}

.cntTb {
  margin-top: 20px;  /* Define a margem superior como 20px */
  margin-bottom: 20px;  /* Define a margem inferior como 20px */
  overflow-x: auto;  /* Adiciona rolagem horizontal se necessário */
  overflow-y: auto;  /* Adiciona rolagem vertical se necessário */
  max-height: calc(100vh - 140px);  /* Define a altura máxima como a altura da tela menos 140px */
  width: 100%;  /* Define a largura como 100% */
}

.table {
  width: 100%;  /* Define a largura da tabela como 100% */
  border-collapse: collapse;  /* Remove os espaços entre as bordas das células */
  margin-bottom: 20px;  /* Define uma margem inferior de 20px */
}

.table th,
.table td {
  padding: 20px;  /* Define o preenchimento das células como 20px */
  text-align: center;  /* Centraliza o texto nas células */
  border: 1px solid var(--cinzaClaro);  /* Define uma borda cinza clara ao redor das células */
  white-space: nowrap;  /* Evita que o texto seja quebrado em várias linhas */
}

.pagination {
  display: flex;  /* Exibe os elementos de paginação em um layout flexível */
  justify-content: center;  /* Centraliza os elementos de paginação horizontalmente */
  align-items: center;  /* Alinha os elementos de paginação verticalmente */
  margin-top: 20px;  /* Define a margem superior como 20px */
}

td, th {
  color: var(--amareloClaro) !important;  /* Define a cor do texto como amarelo claro, com alta prioridade */
  font-size: 1.2rem !important;  /* Define o tamanho da fonte como 1.2rem, com alta prioridade */
  background-color: var(--cinzaAzulado) !important;  /* Define a cor de fundo como cinza azulado, com alta prioridade */
  margin: 0;  /* Remove a margem das células */
  border: 2px solid var(--amareloClaro) !important;  /* Define uma borda amarela clara, com alta prioridade */
}

.tabelaHeader, th {
  background-color: var(--cinzaAzulado) !important;  /* Define a cor de fundo do cabeçalho como cinza azulado, com alta prioridade */
  color: var(--branco) !important;  /* Define a cor do texto como branco, com alta prioridade */
  text-align: center;  /* Centraliza o texto nas células do cabeçalho */
  vertical-align: middle;  /* Alinha o conteúdo verticalmente ao meio */
  position: sticky;  /* Mantém o cabeçalho fixo no topo ao rolar a tabela */
  top: 0;  /* Define o cabeçalho fixo no topo da tabela */
  margin: 0;  /* Remove a margem do cabeçalho */
  z-index: 1;  /* Define a prioridade da camada para manter o cabeçalho acima das outras células */
}

.table thead, table {
  color: var(--amareloClaro) !important;  /* Define a cor do texto do cabeçalho como amarelo claro, com alta prioridade */
  font-size: 1.2rem !important;  /* Define o tamanho da fonte como 1.2rem, com alta prioridade */
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Ajuste o valor conforme necessário para espaçamento */
}

 .searchInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;  
  font-size: 16px;
  width: 15%;
  padding: 15px 15px;  
} 


.searchIcon {
  cursor: pointer;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {  /* Aplica estilos específicos para telas com largura máxima de 768px */
  .table th,
  .table td {
    font-size: 14px;  /* Reduz o tamanho da fonte das células para 14px */
  }

  .pagination button {
    padding: 6px 12px;  /* Define o preenchimento dos botões de paginação para 6px 12px */
  }

  .pagination input {
    width: 60px;  /* Define a largura dos campos de entrada de paginação para 60px */
    padding: 6px;  /* Define o preenchimento dos campos de entrada de paginação para 6px */
  }
}

.btnCadastro {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 35%;
  /* Exibe como bloco */
  padding: 15px 25px;
  /* Preenchimento */
  background-color: var(--cinzaAzulado);
  /* Cor de fundo */
  font-size: 18px;
  color: var(--amareloClaro);
  border: 3px solid var(--amareloClaro);
  /* Sem borda */
  border-radius: 27px;
  /* Raio da borda */
  cursor: pointer;
  /* Cursor */
  transition: background-color 0.3s ease;
  /* Transição suave */
}

/* Controla a posição e tamanho de determinados botões*/
@media (max-width: 768px) {
  .btn, .searchInput {
    width: 60%;
  }
  .btnCadastro, .searchInput {
    width: 60%;
    margin: 5%;
  }
}