:root {
    /* Variáveis de cores para facilitar a manutenção e reutilização */
    --amareloClaro: #ffeba7;
    --cinzaEscuro: #212529;
    --cinzaAzulado: #343A40;
    --cinzaAvermelhado: #333;
    --branco: #FFFFFF;
    --cinzaClaro: #ccc;
    --amareloEscuro: #b39f72;
    --preto: #000000;
}

/* Container principal da página */
.divConteiner {
    display: flex;
    /* Exibe os itens em linha */
    width: 75%;
    /* Define a largura do container */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: center;
    /* Centraliza horizontalmente os itens */
}

/* Container específico para o conteúdo de login */
.containerLogin {
    display: flex;
    /* Exibe os itens em linha */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: center;
    /* Centraliza horizontalmente os itens */
}

/* Estilos para o formulário de login */
.formLogin {
    display: flex;
    /* Exibe os itens em coluna */
    flex-direction: column;
    /* Alinha os itens em uma coluna */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    height: 80vh;
    /* Define a altura do formulário em 80% da altura da tela */
    width: 85vh;
    /* Define a largura do formulário */
    background-color: var(--cinzaAzulado);
    /* Cor de fundo do formulário */
    padding: 20px;
    /* Adiciona espaçamento interno */
    border-radius: 10px;
    /* Arredonda os cantos do formulário */
}

/* Estilos para os campos de entrada de login */
.inpuLogin {
    width: 100%;
    /* Largura total do campo de entrada */
    max-width: 300px;
    /* Largura máxima de 300px */
    background-color: var(--cinzaAzulado);
    /* Cor de fundo do campo */
    padding: 10px;
    /* Preenchimento interno */
    margin: 10px;
    /* Margem externa */
    border: 1px solid #ccc;
    /* Borda ao redor do campo */
    border-radius: 5px;
    /* Arredonda os cantos */
    font-size: 16px;
    /* Tamanho da fonte */
    color: var(--branco);
    /* Cor do texto */
}

/* Estilo do placeholder no campo de entrada */
.inpuLogin::-webkit-input-placeholder {
    color: var(--branco);
    /* Cor do placeholder */
}

/* Estilos para o botão de login */
.buttonLogin {
    display: inline-block;
    /* Exibe como um bloco inline */
    width: 35%;
    /* Define a largura do botão */
    padding: 15px 25px;
    /* Preenchimento interno do botão */
    background-color: var(--cinzaAzulado);
    /* Cor de fundo do botão */
    font-size: 18px;
    /* Tamanho da fonte do botão */
    color: var(--amareloClaro);
    /* Cor do texto */
    border: 3px solid var(--amareloClaro);
    /* Cor da borda */
    border-radius: 27px;
    /* Raio de arredondamento da borda */
    cursor: pointer;
    /* Cursor de ponteiro ao passar sobre o botão */
    transition: background-color 0.3s ease;
    /* Transição suave ao mudar a cor de fundo */
    margin: 2%;
    /* Margem ao redor do botão */
    font-family: "Archivo Black", sans-serif;
    /* Fonte personalizada */
    font-weight: bold;
    /* Texto em negrito */
}

/* Estilos para o efeito de hover no botão */
.buttonLogin:hover {
    background-color: var(--amareloEscuro);
    /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Estilos para o título h1 */
.h1 {
    text-align: center;
    /* Centraliza o texto */
    color: var(--amareloClaro);
    /* Define a cor do texto */
    font-family: "Archivo Black", sans-serif;
    /* Fonte personalizada */
    font-weight: 400;
    /* Espessura da fonte */
    font-style: normal;
    /* Estilo normal da fonte */
    margin: 5%;
    /* Margem ao redor do título */
}

/* Estilos para o parágrafo */
.p {
    text-align: center;
    /* Centraliza o texto */
    color: var(--amareloClaro);
    /* Define a cor do texto */
    font-family: "Archivo Black", sans-serif;
    /* Fonte personalizada */
    font-weight: bold;
    /* Texto em negrito */
    font-size: 150%;
    /* Aumenta o tamanho da fonte */
    margin: 2% 0;
    /* Margem acima e abaixo do parágrafo */
}

/* Estilos para a mensagem de erro */
.errorMessage {
    margin-top: 3%;
    /* Margem superior */
    color: red;
    /* Cor da mensagem de erro */
}