:root {
    /* Definição de variáveis de cor */
    --amareloClaro: #ffeba7; /* Amarelo claro, usado para elementos destacados e botões */
    --cinzaEscuro: #212529; /* Cinza escuro, provavelmente usado para fundos ou texto */
    --cinzaAzulado: #343A40; /* Cinza azulado, utilizado em elementos de interface como botões ou fundos */
    --cinzaAvermelhado: #333; /* Cinza avermelhado, possivelmente usado para textos ou backgrounds */
    --branco: #FFFFFF; /* Cor branca, comumente utilizada para texto ou fundos claros */
    --cinzaClaro: #ccc; /* Cinza claro, pode ser usado para bordas ou textos desativados */
    --amareloEscuro: #b39f72; /* Amarelo escuro, usado para elementos que precisam de destaque ou contraste */
    --preto: #000000; /* Cor preta, geralmente usada para texto ou elementos de destaque */
  }

/* Estilos do container dos cards */
.card-container {
    display: flex;
    justify-content: center;
    /* Centraliza os cards horizontalmente */
    align-items: center;
    /* Alinha os cards verticalmente */
    gap: 30px;
    /* Espaçamento de 30px entre os cards */
    flex-wrap: wrap;
    /* Permite que os cards quebrem linha em telas menores */
    padding: 20px;
    /* Adiciona espaço ao redor do container */
    font-family: "Archivo Black", sans-serif;
    color: var(--amareloClaro);
    /* Define a fote e a cor do texto */
    margin-bottom: 3%;
    /* Define uma margem inferior de 3% do tamanho do elemento pai, criando espaço abaixo do elemento. */
}

/* Estilos dos cards individuais */
.custom-card {
    display: flex;
    align-items: center;
    /* Centraliza o conteúdo dos cards verticalmente */
    width: 89%;
    /* Largura dos cards */
    border-radius: 35px;
    /* Arredondamento dos cantos */
    background-color: var(--cinzaEscuro);
    /* Cor de fundo dos cards */
    border: 3px solid var(--amareloClaro);
    /* Estiliza a borda dos cards*/
    padding: 20px;
    /* Espaçamento interno dos cards */
    text-align: justify;
    /* Justifica o texto no rodapé para garantir alinhamento das margens esquerda e direita */
}

/* Estilos da imagem */
.card-image {
    width: 150px;
    /* Largura da imagem */
    height: 150px;
    /* Altura da imagem */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 35%;
    /* Arredondamento da imagem para ficar circular */
    margin-right: 20px;
    /* Espaçamento entre a imagem e o texto */
}

/* Estilos do conteúdo */
.card-content {
    flex: 1;
    /* Faz com que o conteúdo ocupe o restante do espaço ao lado da imagem */
    font-size: 1.2rem;
    /* Tamanho do texto */
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        /* Empilha os cards verticalmente em telas menores */
    }

    .custom-card {
        flex-direction: column;
        /* Empilha a imagem e o texto no card em telas menores */
        text-align: center;
        /* Centraliza o texto */
    }

    .card-image {
        margin-right: 0;
        /* Remove o espaçamento lateral da imagem */
        margin-bottom: 15px;
        /* Adiciona espaçamento abaixo da imagem */
    }
}